p {
  text-align: center;
  text-transform: uppercase;
}
.tasks__day {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: cornsilk;
  margin: 5px;
}
.task__dayWeek {
  font-weight: bold;
  text-transform: uppercase;
}