input {
  border: none;
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-bottom: 2px black solid;
  background-color: cornsilk;
  transition: .3s;
}
input:focus {
  border: none;
  background-color: white;
  outline: none;
  border-bottom: 4px black solid;
}