* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(224, 224, 228, 1);
  font-family: 'Play', Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(6, 6, 8, 0.84);

}
.App {
  display: flex;
  justify-content: space-around;
}
